@use "../../theme";

h1 {
  font-size: 26px;
  font-weight: 900;
  margin-top: 40px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18), 0 1.5px 8px rgba(0, 0, 0, 0.12), 0 0.5px 1.5px rgba(0, 0, 0, 0.10);
  border-radius: 16px;
}

b {
  padding: 0px 5px;
  background-color: var(--blue2);
  border-radius: 3px;
  font-weight: 600;
  color: white;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;

  tbody {
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, .12);

      td, th {
        padding: 15px 5px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-radius: 2px;
      }

      td:first-child {
        font-weight: 600;
      }

      th {
        font-weight: bold;
      }

    }
  }
}
