<div class="footer-bottom-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-lg-3">
        <div class="category affiliations">
          <div class="header">Affiliations</div>
          <a class="affiliation-link" href="https://healthenews.mcgill.ca/talking-up-single-cell-brain-research/"
             target="_blank"><img
            src="assets/images/footer/mcgill-logo.svg" alt="McGill"></a>
          <a class="affiliation-link" href="https://www.mcgill.ca/neuro/open-science" target="_blank"><img
            src="assets/images/footer/the_neuro_logo.png" alt="The Neuro"></a>
          <a class="affiliation-link"
             href="https://www.mcgill.ca/hbhl/funded-projects/discovery-fund-interdisciplinary-research/discovery-fund-comp-2"
             target="_blank"><img
            src="assets/images/footer/hbhl_logo.png" alt="HBHL"></a>
        </div>
      </div>
      <div class="col-lg-2 col-6">
        <div class="category legal">
          <div class="header">Legal</div>
          <a routerLink="/disclaimer">Disclaimer</a>
          <a routerLink="/privacy">Privacy Policy</a>
        </div>
      </div>
      <div class="col-lg-2 col-6">
        <div class="category resources">
          <div class="header">Resources</div>
          <a href="https://neurohub.ca/" target="_blank">Tools</a>
          <a href="https://singlecellclub.openscience.mcgill.ca/" target="_blank">Education</a>
        </div>
      </div>
      <div class="col-lg-2 col-6">
        <div class="category about">
          <div class="header">About us</div>
          <a href="https://single-cell.research.mcgill.ca" target="_blank">Team</a>
          <a href="https://www.strattonlab.ca/openscience" target="_blank">Developer</a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="category social">
          <div class="header">Get in touch</div>
          <a class="icon-link" target="_blank" href="https://www.strattonlab.ca/"><i class="fa fa-globe"></i></a>
          <a class="icon-link" target="_blank" href="https://twitter.com/LabStratton"><i class="fab fa-twitter"></i></a>
          <a class="icon-link" target="_blank" href="https://github.com/stratton-lab"><i class="fab fa-github"></i></a>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="free-access-statement">This tool is freely available to all users. No login or registration is required.</div>
    </div>
  </div>
</div>
