@import "../../../theme";

.no-selected-msg {
  font-weight: 900;
  font-size: 13px;
  margin-left: 20px;
}

.selected-genes {

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  background: #f5fafc;
  border-radius: 10px;
  padding: 20px 40px;
  margin-top: 10px;

  .selected-gene {
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: $darker-gray;
    border-radius: 20px;
    cursor: initial;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    user-select: none; /* Prevent text selection */

    .fa.fa-multiply {
      cursor: pointer;
    }

    .fa.fa-multiply:hover {

    }
  }

  .selected-gene.category-upregulated {
    background-color: #cd4741;
  }

  .selected-gene.category-downregulated {
    background-color: #5a89ca;
  }

  .selected-header-name {
    font-weight: 800;
    font-size: 12px;
    color: $darker-gray;
    margin-bottom: 10px;

    i.fa {

    }

    i.fa:hover {
      color: $red1;
    }
  }
}

.dialog-top-actions {
  display: flex;
  justify-content: space-between;
}
