@import "../../theme";


.marketplace {
  background: $background;
  border-radius: 10px;
  padding: 20px 40px;
  margin-top: 40px;
  min-height: 400px;
}

.marketplace-name {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 200;
}

.public-actions {
  text-align: center;
  padding-bottom: 60px;
}

.categories-wrapper {
  margin-top: 60px;
  margin-bottom: 30px;
}

.category {
  display: inline-block;
  cursor: pointer;
  background: white;
  border-radius: 20px;
  padding: 20px;
  transition: transform .2s ease-in-out;
  margin-bottom: 40px;

  .category-name {
    text-align: left;
    font-weight: 800;
  }

  .count {
    display: inline-block;
    float: right;
    background: $gray1;
    font-size: 12px;
    color: white;
    padding: 1px 6px;
    border-radius: 10px;
  }

  .category-description {
    margin-top: 10px;
    font-weight: 300;
  }

  .category-img {
    display: inline-block;

    img {
      width: 80px;
      height: 80px;
    }

  }
}

.category:hover {
  transform: scale(1.05);
}

.dataset-subcategory-name {
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  margin-bottom: 30px;
}

.search-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.info-msg {
  text-align: center;
  font-weight: 600;
}

.navigation {

  text-align: center;

  .navigation-category {
    font-size: 16px;
    color: $blue2;
    font-weight: 600;
    line-height: 50px;
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
  }

  .navigation-category:hover {
    text-decoration: underline;
  }

  .navigation-category:after {
    content: '>';
    margin-left: 10px;
  }

  .navigation-category:last-child {
    cursor: default;
    font-weight: 900;
    text-decoration: none;
  }

  .navigation-category:last-child:after {
    content: ''
  }
}

.show-all-datasets-link {
  float: right;
  display: block;
  color: #8c9296;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}

.show-all-datasets-link:hover {
  color: #69a4e0;
}

@media (max-width: 991px) {
  .marketplace {
    padding: 20px 20px;

    .navigation {
      margin-bottom: 20px;

      .navigation-category {
        line-height: 20px;
        display: inline-block;
      }
    }
  }
}
