@import "../../theme.scss";

.options {
  text-align: center;
}

.dataset-name {
  display: block;
  text-align: left;
  font-weight: 100;
  font-size: 34px;
  margin-bottom: 4px;
  color: #37474f;
}

.dataset-description {
  text-align: center;
  font-style: italic;
}

.plot-wrapper {
  margin-top: 30px;
  border-radius: 10px;
  background: white;
}
