@font-face {
  font-family: 'Comfortaa';
  src: url(assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf) format('woff2');
}

@font-face {
  font-family: 'Open_Sans';
  src: url(assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf) format('woff2');
}

