<div class="container">
  <div class="row intro">
    <div class="col-lg-7 col-md-12 col-12">
      <div class="app-tagline">Understanding Biology<br>
        <div class="app-tagline-bis">One <b>Single Cell</b> at a Time.</div>
      </div>
      <div class="app-description">
        <p>Explore single cell data in an interactive & accessible format, featuring vibrant 2D plots.
          We simplify complexity to make cellular data exploration seamless and insightful.</p>
      </div>
      <div class="actions">
        <a routerLink="/tutorial" class="button button-primary">Tutorial</a>
      </div>
    </div>
    <div class="col-5 img-wrapper">
      <img class="intro-img" src="assets/images/home-illustration.png" alt="">
    </div>
  </div>
</div>

<div id="marketplace" class="container">
  <div class="row" id="results">
    <marketplace></marketplace>
  </div>
</div>


<div class="container">
  <div class="sub-hero-wrapper">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="dataset-mockup-img-wrapper">
          <img class="dataset-mockup-img" src="assets/images/dataset-mockup-img.png" alt="dataset mockuo">
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="sub-hero-text">
          <div class="sub-hero-title">Play With Single Cell Datasets</div>
          <div class="sub-hero-description">
            <ul>
              <li><b>Search & Explore Datasets:</b> Use keywords to find specific datasets or explore categories like
                "Healthy".
              </li>
              <li><b>Customize & Edit Datasets:</b> Delete unwanted cells, refine and reassign cells between clusters.
              </li>
              <li><b>Analyze & Export Results:</b> Conduct differential gene expression and functional analyses. Export
                data as files (CSV, Excel, JSON) and save plots as images (PNG).
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-wrapper">
  <div class="container">
    <div class="row">
      <div class="features-section-title">Top Features</div>
      <div class="col-lg-4 col-12">
        <div class="feature">
          <div class="feature-image"><img src="assets/images/home/volcano-mockup.png" alt="volcan mockup"></div>
          <div class="feature-name">Differential Expression</div>
          <div class="feature-description">Identify genes with varying expression levels across single cells, shedding
            light on cellular diversity and function. Visualize these differences with Volcano, Violin, Dot and UMAP
            plots.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="feature">
          <div class="feature-image"><img src="assets/images/home/network-mockup.png" alt="network mockup"></div>
          <div class="feature-name">Functional Analysis</div>
          <div class="feature-description">Unveil the biological functions and pathways associated with the
            differentially
            expressed genes. Differential Expression will be performed first.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="feature">
          <div class="feature-image"><img src="assets/images/home/kegg-mockup.png" alt="kegg mockup"></div>
          <div class="feature-name">Pathway Analysis</div>
          <div class="feature-description">Display differentially expressed genes on KEGG pathway
            maps. This visualization highlights gene interactions and biological pathways, providing insights into
            cellular diversity and function.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="feature">
          <div class="feature-image"><img src="assets/images/home/pseudotime-mockup.png" alt="kegg mockup"></div>
          <div class="feature-name">Pseudotime Analysis</div>
          <div class="feature-description">Track the progression of cells through different stages of development or
            differentiation. This feature visualizes dynamic gene expression changes along the pseudotime trajectory,
            offering insights into temporal cellular transitions and lineage decisions.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="feature">
          <div class="feature-image"><img src="assets/images/home/spatial-mockup.png" alt="kegg mockup">
          </div>
          <div class="feature-name">Spatial</div>
          <div class="feature-description">Explore the intricate spatial organization of individual cells within their
            native tissue or organism. The Spatial feature allows you to visualize each cell in its precise location,
            offering insights into the spatial relationships, interactions, and patterns within complex biological
            structures.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="feature">
          <div class="feature-image"><img src="assets/images/home/cell-cell-interaction-mockup.png" alt="kegg mockup">
          </div>
          <div class="feature-name">Cell-Cell Interactions</div>
          <div class="feature-description">Visualize and analyze communication between different cell types. This
            feature highlights receptor-ligand interactions, revealing crucial intercellular signaling pathways and
            providing insights into cell coordination and function within the tissue.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features-wrapper">
  <div class="container">
    <div class="row">
      <div class="features-section-title">Open & Reproducible Science</div>
      <div class="col-lg-4 col-12">
        <div class="feature">
          <div class="feature-image"><img src="assets/images/home/receipt-mockup.png" alt="receipt mockup"></div>
          <div class="feature-name">Receipt</div>
          <div class="feature-description">To improve reproducibility, a “receipt” is available, listing backend
            libraries
            used for the processing, along with their versions and supplied parameters.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="feature">
          <div class="feature-image"><img src="assets/images/home/real-time-mockup.png" alt="real time mockup"></div>
          <div class="feature-name">Real-Time Analysis</div>
          <div class="feature-description">SingloCell enhances the reusability of existing datasets by enabling easy
            modification and real-time analysis, facilitating new discoveries.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="feature">
          <div class="feature-image"><img src="assets/images/home/dataset-submission-mockup.png" alt="real time mockup">
          </div>
          <div class="feature-name">Data Submission</div>
          <div class="feature-description">A streamlined process for contributing datasets. Transparent data sharing and
            reproducibility, fostering collaboration and advancing open science initiatives.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

