<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>Terms of Use</h1>
      <h3>The user agrees:</h3>
      <ul>
        <li>To obtain required ethics or other approvals before using shared resources.</li>
        <li>To respect any use
          restrictions and conditions based on consents or ethics approvals associated with shared resources.
        </li>
        <li>To ensure the
          confidentiality of restricted access resources, and to establish appropriate security safeguards.
        </li>
        <li>To cite any
          shared resource used to produce a scholarly publication or other publicly disclosed research output according
          to
          generally accepted practice, including respecting any preferred means of citation for the resource articulated
          on
          its landing page, and using any persistent digital identifier associated with the resource.
        </li>
        <li>To respect any
          licensing terms associated with shared resources.
        </li>
        <li>That SingloCell has the right to change or update these Terms of
          Use at any time without prior notice to the user. It is the user’s responsibility to check the SingloCell
          platform’s
          website to ascertain whether the Terms of Use have been changed or updated.
        </li>
        <li>That all resources available on the
          SingloCell are provided on an “as is” basis, and the Platform disclaims all warranties, express or implied,
          including
          but not limited to any warranty that the use of resources will not cause injury or infringe any third party
          rights.
        </li>
        <li>That SingloCell excludes all liability, to the greatest extent permitted by applicable law, with respect to
          the use or distribution of resources.
        </li>
        <li>To contact the dataset creator immediately if it becomes apparent that data
          have not been sufficiently de-identified.
        </li>
        <li>To ensure appropriate <a target="_blank" href="https://creativecommons.org/share-your-work/cclicenses/">permissions</a>
          under copyright law when uploading publicly available datasets to our website.
        </li>
      </ul>
      <h3>The user agrees <b>not</b> to:</h3>
      <ul>
        <li>Use shared resources to re-identify individual participants.</li>
        <li>Claim intellectual property rights, or any other proprietary right, over shared resources
          in such a way that could interfere with the freedom of others to access and use shared resources.
        </li>
      </ul>

      <i>Adapted from <a target="_blank"
                         href="https://zenodo.org/records/10157436">https://zenodo.org/records/10157436</a></i>
      <p>
        <i>Last updated on 2025-07-08</i>
      </p>
    </div>
  </div>
</div>
